.section-banner {
  background-image: url("img/hero_bg.png");
  background-size: cover;

  h1 {
    font-family: "Univia Pro", sans-serif;
    font-weight: 500;
    line-height: 120%;
    color: $secondary-two;
    padding-top: 159px;

    span {
      display: inline-block;
      color: $primary;
    }
  }

  p {
    color: $secondary-two;
    font-family: 'Univia Pro';
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 14px;
  }

  .slider-hero {
    padding-top: 55px;
    max-width: 100%;
    margin-top: auto;
  }

  @media (max-width: 991px) {
    h1 {
      padding-top: 60px;
    }
  }
}