.section-slider {
  padding-bottom: 74px;

  .swiper {
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(57deg, #005FAD 0%, #7E7ACB 59%, #D68CDF 100%);
  }

  .swiper-slide {
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 76px 114px 72px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h4 {
    color: $white;
    text-align: center;
    font-family: "Univia Pro";
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 43px;
  }

  p {
    color: $white;
    text-align: center;
    font-family: "Univia Pro";
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 43px;
  }

  .swiper-button-prev {
    color: $white;
    margin-left: 18px;

    &:after {
      font-size: 34px;
    }
  }

  .swiper-button-next {
    color: $white;
    margin-right: 18px;

    &:after {
      font-size: 34px;
    }
  }

  @media (max-width: 991px) {
    padding-bottom: 60px;
    .swiper-slide {
      padding: 60px;
    }
  }
}