.section-unlock {
  padding-bottom: 105px;
  .text{
    padding: 26px 0 0 72px;
  }
  h2 {
    color: $primary;
    font-family: "Univia Pro";
    font-weight: 500;
    line-height: 120%;
    max-width: 600px;
    margin-bottom: 34px;
  }

  p {
    color: $secondary-two;
    font-family: "Univia Pro";
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
  }

  .in-motion{
    max-width: 100%;
  }

  @media (max-width: 991px) {
    padding-bottom: 44px;
    .text{
      padding: 60px 0 0 0;
    }
  }
}