.section-welcome {
  width: 100%;
  max-width: 1076px;
  margin: 0 auto;
  padding: 0 12px 107px;

  .top {
    max-width: 966px;
    padding: 97px 0 58px;
    text-align: center;
    margin: 0 auto;
  }

  h4 {
    color: $primary;
    font-family: "Univia Pro";
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

  p {
    color: $secondary-two;
    font-family: "Univia Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 14px 0 37px;
  }

  video{
    margin: 0 auto;
  }
}