@import 'fonts.scss';
@import 'general.scss';
@import 's_header.scss';
@import 's_banner.scss';
@import 's_welcome.scss';
@import 's_faq.scss';
@import 's_unlock.scss';
@import 's_slider.scss';
@import 's_future.scss';
@import 's_footer.scss';

// @import 'btns.scss';
// @import 'font-awesome.min.scss';
// @import 'fonts.scss';
// @import 'opacity.scss';

// @import 'footer.scss';
// @import 'general.scss';
// @import 'header.scss';

// @import 'homepage.scss';
// @import 'solution.scss';
// @import 'about.scss';
// @import 'contactus.scss';
// @import 'blog.scss';
// @import 'contactus-address.scss';
// @import 'product.scss';
// @import 'portfolio.scss';
// @import 'project.scss';
// @import 'blog2.scss';
// @import 'blog3.scss';
// @import 'single.scss';

// @import 'our_services1.scss';
// @import 'our_services2.scss';
// @import 'our_services3.scss';
// @import 'our_services4.scss';
// @import 'our_services5.scss';
// @import 'analytics.scss';
// @import 'solution-purple.scss';
// @import 'lxp.scss';
// @import 'sitemap.scss';

// @import 'swiper.scss';// 